* {
  box-sizing: border-box;
}
.col {
  height: 100px;
  width: 33.333%; /* Можно задать любую другую ширину блока */
  background:red;
  margin: .5rem;
}
.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  /*justify-content: space-between;*/
}
