.back {
  box-sizing: border-box;
  background-color: black;
  background-image: url(/assets/Image/Crucible.jpg);
  min-height: 500px;
  background-position: center;
  background-size: cover;
}
img {
  height: 96px;
  width: 96px;
}
.row{
  display: flex;
  flex-wrap: wrap;
}

.row .child{
  margin: 7px;
  background: rgba(202, 11, 11, 0.801);
  width: 10%;
  max-width: 33%;
  flex: auto;
  flex-wrap: wrap;
}

