<div [ngStyle]="{'background-image':'url('+'https://www.bungie.net/'+Milestone.imageUrl+')'}" class="back">
  <div class="lineTop"></div>
  <img src='https://www.bungie.net/{{RaidLeviathan[0].icon}}' class="icon">
  <div class="title">{{Milestone.name}}</div>
  <div class="row">
  <div class="child" *ngFor="let Activity of RaidLeviathan" >
    <div><h3>{{Activity.name}}</h3>
    <!--<p>{{Activity.description}}</p>-->
    <div class="row">
      <div *ngFor="let Mod of Activity.modifiers">
        <div class="tooltip">
          <img src="https://www.bungie.net/{{Mod.icon}}">
          <div class="bottom">
            <h3>{{Mod.name}}</h3>
            <div class="line"></div>
            <p>{{Mod.description}}</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="child" *ngFor="let Activity of RaidLeviathanEater">
    <div><h3>{{Activity.name}}</h3>
    <!--<p>{{Activity.description}}</p>-->
    <div class="row">
      <div *ngFor="let Mod of Activity.modifiers">
        <div class="tooltip">
          <img src="https://www.bungie.net/{{Mod.icon}}">
          <div class="bottom">
            <h3>{{Mod.name}}</h3>
            <div class="line"></div>
            <p>{{Mod.description}}</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="child" *ngFor="let Activity of RaidLeviathanSpire">
    <div><h3>{{Activity.name}}</h3>
    <!--<p>{{Activity.description}}</p>-->
    <div class="row">
      <div *ngFor="let Mod of Activity.modifiers">
        <div class="tooltip">
          <img src="https://www.bungie.net/{{Mod.icon}}">
          <div class="bottom">
            <h3>{{Mod.name}}</h3>
            <div class="line"></div>
            <p>{{Mod.description}}</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
