.back{
  background-color: black;
}
.row{
  display: flex;
  flex-wrap: wrap;
}

.row .child{
  margin: 7px;
  background: rgb(228, 137, 0);
  width: 32%;
  max-width: 32%;
  flex: auto;
  flex-wrap: wrap;
}

.tooltip {
  /*display:inline-block;*/
  position:relative;
  text-align:left;
  background-color: rgb(26, 20, 20);
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin: 5px;
  flex: auto;
  flex-wrap: wrap;
}

.tooltip h3 {margin:12px 0;}

.tooltip .bottom {
  min-width:200px;
  max-width:400px;
  top:40px;
  left:50%;
  transform:translate(20%, 0);
  padding:15px;
  color:#666666;
  background-color:rgb(39, 39, 39);
  font-weight:normal;
  font-size:15px;
  border-radius:10px;
  position: absolute;;
  z-index:99999999;
  display:none;
}

.tooltip:hover .bottom {
  display:block;
}
